<%- include('../partials/header.ejs') %>
<div class="container-fluid px-4">
  <br />
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item" style="cursor: pointer">
        <a href="/admin/profile ">My Profile</a>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="/admin/edit-profile/<%= userInfo.uuid %> ">Edit Profile</a>
      </li>
      <li class="breadcrumb-item" aria-current="page">Change Password</li>
    </ol>
  </nav>
  <div class="col-lg-8">
    <!-- Change password card-->
    <div class="card mb-4">
      <div class="card-header">Change Password</div>
      <div class="card-body">
        <form
          action="/admin/change-password/<%= userInfo.uuid %>"
          method="post"
        >
          <!-- Form Group (current password)-->
          <div class="mb-3">
            <label class="small mb-1" for="currentPassword"
              >Current Password</label
            >
            <div class="input-group">
              <input
                class="form-control"
                id="currentPassword"
                name="currentPassword"
                type="password"
                placeholder="Enter current password"
              />
              <span
                class="input-group-text"
                id="basic-addon3"
                style="height: 48px; cursor: pointer"
                ><i class="bi bi-eye-slash" id="togglePassword2"></i
              ></span>
            </div>
          </div>
          <!-- Form Group (new password)-->
          <div class="mb-3">
            <label class="small mb-1" for="newPassword">New Password</label>
            <input
              class="form-control"
              id="newPassword"
              name="newPassword"
              type="password"
              placeholder="Enter new password"
            />
          </div>
          <!-- Form Group (confirm password)-->
          <div class="mb-3">
            <label class="small mb-1" for="confirmPassword"
              >Confirm Password</label
            >
            <input
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              type="password"
              placeholder="Confirm new password"
            />
          </div>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <button class="btn btn-primary" type="submit">Update</button>
        </form>
        <script>
          const togglePassword2 = document.querySelector("#togglePassword2");
          const currentPasswordAdmin =
            document.body.querySelector("#currentPassword");
          const newPasswordAdmin = document.body.querySelector("#newPassword");
          const confirmpasswordAdmin =
            document.body.querySelector("#confirmPassword");

          togglePassword2.addEventListener("click", (e) => {
            console.log("clicked");
            const pass1 =
              currentPasswordAdmin.getAttribute("type") === "password"
                ? "text"
                : "password";
            const pass2 =
              newPasswordAdmin.getAttribute("type") === "password"
                ? "text"
                : "password";
            const pass3 =
              confirmpasswordAdmin.getAttribute("type") === "password"
                ? "text"
                : "password";
            currentPasswordAdmin.setAttribute("type", pass1);
            newPasswordAdmin.setAttribute("type", pass2);
            confirmpasswordAdmin.setAttribute("type", pass3);
            togglePassword2.classList.toggle("bi-eye");
          });
        </script>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer.ejs') %>
