<%- include('../partials/header.ejs') %> 
<%- include('../partials/date.ejs') %> 
<div class="container-fluid px-4"> 
<br>
<div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Finance Management Instructions
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body" style="display: grid; grid-template-columns: 1fr 1fr;grid-gap: 10px;">
        <div>
          <img src="/assets/img/finance.png" alt="" width="500">
        </div>
        <div>
        <p>After uploading an excel through the <code>File Management </code> with the specified format as shown with this image,
          the administrator is provided with functionality to upload the fee payment records from the excel file to the
          database whichcan be viewed in the parent android application currently, but soon the fee balance can also be sent to 
          parents who do not own accounts of the parent application.</p>
          
      </div>

    </div>
    </div>
  </div>
  <br>
<button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#adminAddFinanceRecords" data-bs-whatever="@mdo">Add New Finance Records</button>

 <!--Add Finance Records -->
 <div class="modal fade" id="adminAddFinanceRecords" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Finance Records</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">                                  
          <form action="/admin/finances" method="post" class="needs-validation" novalidate>
              <div class="container overflow-hidden">                                                                                                                                                                                                                                                                                                              
                <div class="input-group mb-3">
                  <label class="input-group-text" for="inputGroupSelect01">Choose File</label>
                  <select class="form-select" id="inputGroupSelect01" name="selectedItem">
                    <option value="1">Select a File</option>
                    <%for(let i=0;i<files.length;i++){%>
                    <option value="<%=files[i]%>"><%=files[i]%></option>
                    <%}%>
                  </select>
                </div>
                    </div>                    
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">  
                </div> 
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Add Records</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>                                    
                </div>                                                                                       
          </form>
        </div>
       
      </div>
    </div>

<br>
</div>
<%- include('../partials/footer.ejs') %> 